/* Dark Theme Styles */
body {
    background-color: #333; /* Dark background color */
}

.cover {
    border: 2px solid #555; /* Darker gray border for covers */
    border-radius: 10px; /* Rounded corners for covers */
}
